ul{list-style: none;}


/* START OF HOME PAGE */ 

.body {
  background-color: black;
}


.logo {
  max-height: 150px;
  max-width: 700px;
  max-width: 100%;
}

.navigation-buttons {
  display:flex;
  font-family: Roboto;
  justify-content: space-around;
  height: 80px;
  margin-right: 10px;
  
}
.button {
  padding: 20px;
  font-size: 25px;
  border: 5px solid cyan;
  border-radius: 5px;
  flex: 1 0 200px;
  text-align: center;
  background-color: yellow;
  margin-right: 10px;
}
.a-index {
  color: Black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Goldman;
}

.a-index:hover {
  background-color: cyan;
  border-style: solid;
  border-width: 5px;
  border-color: cyan;
  border-radius: 10px;
}

.Home-Flex {
  display:flex;
  justify-content: space-around;
}

.Home-pic1 {
  width:900px;
  height:450px;
  border: 10px double cyan;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 45px;
  margin-right: 40px;
}

.intro {
  padding: 20px;
  font-size: 25px;
}

.home-content {
  color: yellow;
  width: 400px;
  font-family: Goldman;
  font-size: 25px;
}

.divider0 {
  background-color: yellow;
  font-family: Goldman;
  font-size:35px;
  text-align: center;
  justify-content: center;
  height: 50px;
  margin-bottom:40px;
  margin-top:40px;
}


.background-image1 {
  background-image: url('images/Cyberpunk-pic7.png');
  background-size: cover;
  height:700px;
  width:1515px;
  z-index: -1;
  position: relative;
  text-align: center;
  border: 10px solid cyan;
  width:100%;
}



.top-left {
  position: absolute;
  top: 70px;
  left: 110px;
}


.top-right {
  position: absolute;
  top: 70px;
  right: 80px;
}

.bottom-left {
  position: absolute;
  bottom: 230px;
  left: 110px;
}

.bottom-right {
  position: absolute;
  bottom: 230px;
  right: 80px;

}

.HDR-title,
.rtx-title,
.dlss-title,
.crossplatform-title {
  font-size: 45px;
  font-family: black ops one;
}

/* END OF HOME PAGE */ 

.divider1 {
  background-color: yellow;
  font-family: Goldman;
  font-size:35px;
  text-align: center;
  justify-content: center;
  height: 50px;
  margin-bottom:40px;
  margin-top:40px;
}

/* START OF FEATURES PAGE */ 

.feature1-title{
  display:flex;
  padding: 20px;
  color: cyan;
  font-family: goldman;
  font-size: 40px;
}

.feature1-flex {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  color: yellow;
  font-size: 35px;
  font-family: Goldman;
  margin-top: 80px;
}
.feature1-content {
  color: cyan;
  min-width:450px;
  
}
.feature1-pic {
  width: 850px ;
  height: 450px;  
  border: 15px double yellow;
  border-radius: 20px;
  margin-right: 50px;
  margin-top: 0px;
}

.feature2-title{
  font-family: Goldman;
  color: cyan;
  text-align: right;
  font-size: 40px;
  padding: 40px;
}

.feature2-flex {
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: yellow;
  font-size: 35px;
  font-family: Goldman;
  
}
.feature2-content {
  min-width: 450px;
  color: cyan;
}
.feature2-pic {
  width:900px ;
  height:500px;
  margin-top:-50px;
  border: 15px solid yellow;
  border-style: double;
  border-radius: 20px;
  flex-grow: 2;
  overflow: hidden;
}


/* END OF FEATURES PAGE */ 

.divider2 {
  background-color: cyan;
  font-family: Goldman;
  font-size:35px;
  text-align: center;
  justify-content: center;
  height: 50px;
}

/* START OF HISTORY PAGE */ 

.history-title {
  color: yellow;
  padding: 100px;
  font-family: Goldman;
  font-size: 45px;
  margin: -80px;
}

.history-flex {
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.richardnight-pic {
  width: 300px;
  height: 450px;
  border: 10px double cyan;
  border-radius: 20px;
  margin-right: 60px;
}

.history-content {
  font-size: 31px;
  color: yellow;
  font-family: Goldman;
  text-align: left;
  min-width:600px;
  margin-top:10px;

 
}

.richardnight-info-title{
  font-size: 30px;
  color: yellow;
  font-family: Goldman;
  margin-top:-50px;
}

.richardnight-info {
  color:yellow;
  font-family: Goldman;
  min-width: 350px;
  font-size: 26px;
  text-align: left;
  border: 10px double cyan;
  border-radius: 20px;
  margin-right: 20px;

}

.history-flex-2 {
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: yellow;
  font-size: 26px;
  font-family: Goldman;

}
.history-content-2 {
  color: yellow;
  min-width:450px;
  margin-right: 20px;
  font-size:20px;
}

.history-pic-2 {
  width:900px ;
  height:500px; 
  margin-right: 60px;
  border: 10px double cyan;
  border-radius: 20px;
}

/* END OF HISTORY PAGE */ 

.divider3 {
  background-color: yellow;
  font-family: Goldman;
  font-size:35px;
  text-align: center;
  justify-content: center;
  height: 50px;
  margin-bottom: 40px;
  
}

.system-requirements {
  width:1500px;
  height: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* START OF FORM PAGE */

.button-form {
  padding: 20px;
  font-size: 25px;
  border: 5px solid cyan;
  border-radius: 5px;
  text-align: center;
  background-color: yellow;
  margin-right: 10px;
  width:300px;
}


.form-row1-flex{
  display:flex;
  flex-direction: row;
}

.form-row2-flex,
.form-row3-flex {
  display: flex;
  flex-direction: row;
}

.form-row1-2 {
  margin-left: 30px;
}

.form-row2-3 {
  margin-left:30px;
}

.cardnumber,
.paymentmethod-form {
  font-family: Roboto;
  font-size:24px;
  color: yellow;
}

.block-number-form {
  font-family: Roboto;
  font-size:24px;
  color: yellow;
  margin-left: -50px;
}

.billingaddress-form  {
  font-family: Roboto;
  font-size:24px;
  color: yellow;
  margin-left: 95px;

}

.billingaddress-input{
  font-family: Roboto;
  font-size:18px;
  color: yellow;
  margin-left: -50px;
  border: 6px solid cyan;
  margin-top: 58px;
  margin-left: -160px;
  height:30px;
}

.block-number-input {
  font-family: Roboto;
  font-size:20px;
  color: yellow;
  margin-left: -50px;
  border: 6px solid cyan;
}

.cvv {
  font-family: Roboto;
  font-size:24px;
  color: yellow;
  margin-top:-10px;
  
}

.monthexpiry-form {
  font-family: Roboto;
  font-size:24px;
  color: yellow;
  margin-left: 30px;
  margin-top: 30px;

}

.form-payment {
  padding:30px;
  margin-top: -20px;
  
}
.paymentmethod-input {
  border: 6px solid cyan;
  border-radius: 2px;
  width: 300px;
  height: 50px;
  font-size:20px;
  color: black;
  margin-top: 5px;
}

.cardnumber-input {
  border: 6px solid cyan;
  border-radius: 2px;
  width: 285px;
  height: 30px;
  font-size: 25px;
}

.cvv-input {
  border: 6px solid cyan;
  border-radius: 2px;
  width: 100px;
  height: 30px;
  font-size:20px;
}

.monthexpiry-input {
  border: 6px solid cyan;
  border-radius: 2px;
  width: 80px;
  height: 40px;
  font-size:20px;
  margin-left:30px;
  margin-top: 30px;
}

.yearexpiry-input {
  border: 6px solid cyan;
  border-radius: 2px;
  width: 80px;
  height: 40px;
  font-size:20px;
  margin-top: 40px;
}

.checkout {
  background-color: yellow;
  color: black;
  padding: 12px;
  margin-left: 40px;
  border: 6px solid cyan;
  width: 30%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Goldman;

}

.cdpr-logo {
  height: 150px;
  width: 280px;
  border: 8px solid cyan;
  border-radius: 3px;
}

.logo-flex {
  display: flex;
  flex-direction: row;
  
}



@media screen and (max-width: 800px) {
  .navigation-buttons {
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .Home-Flex {
    flex-direction: column;
  }
  .Home-pic1 {
    max-width: 100%;
    height: 300px;
  }

  .background-image1 {
    display: none;

  }

  .feature1-flex,
  .feature2-flex,
  .history-flex-2 {
    flex-direction: column;
  }

  .history-flex {
    flex-direction: column-reverse;
  }
  .feature1-pic,
  .feature2-pic,
  .history-pic-2 {
    max-width: 100%;
    height: 300px;
    margin-left: -28px;
  }
  .feature1-content {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: -80px;
  }

  .feature2-content {
    font-size: 24px;
    margin-bottom: 80px;
    margin-top: -20px;
    margin-right: 200px;
  }
  .history-content {
    font-size: 22px;
    margin-bottom: 80px;
    margin-top: 0px;
    margin-left: -30px;
  }
  .system-requirements {
    max-width: 100%;
    height:300px;
  }
  .checkout {
    min-width:300px;
  }
  .feature2-title {
    font-family: Goldman;
    color: cyan;
    text-align: left;
    font-size: 40px;
    padding: 40px;
  }
  

}


@media screen and (max-width: 800px) {
  .divider0,
  .divider1,
  .divider2,
  .divider3 {
    font-size: 20px;
  }
}



